:root{
    --1-: #ff0000;
    --2-: #ff8000;
    --3-: #ffff00;
    --4-: #80ff00;
    --5-: #00ff00;
    --6-: #00ff80;
    --7-: #00ffff;
    --8-: #0080ff;
    --9-: #0000ff;
    --10-: #8000ff;
    --11-: #ff00ff;
    --0-: #ff0080;
    --back-: #777272;
}
html, body, main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom right, var(--Background1-), var(--Background3-));
}
.cartes{
    margin-left: 340px;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.card1{
    background-color: var(--1-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.card2{
    background-color: var(--2-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.card3{
    background-color: var(--3-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.card4{
    background-color: var(--4-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.card5{
    background-color: var(--5-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.card6{
    background-color: var(--6-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.card7{
    background-color: var(--7-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.card8{
    background-color: var(--8-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.card9{
    background-color: var(--9-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.card10{
    background-color: var(--10-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.card11{
    background-color: var(--11-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.card0{
    background-color: var(--0-);
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cards{
    width : 5rem;
    height: 6.875rem;
    display: flex;
    margin: 1.5%;
    border-radius: 0.25rem;
}
.cards2{
    width : 5rem;
    height: 6.875rem;
    display: flex;
    margin: 2%;
    background-color: var(--back-);
}

.flipInY {
    animation-name: flipInY;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes flipInY {
    0% {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transition-timing-function: ease-in;
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    100% {
        transform: perspective(400px);
    }
}

.action_btn_reinit:hover {
    background-position: left;
    color: var(--HoverButton-);
    box-shadow: inset 0px 3px 5px var(--HoverButton-), 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.action_btn_reinit:focus {
    outline: none;
}

.contain-game-choice{
    display: flex;
    justify-content: center;
}

.game_choice{
    margin-top: 50px;
    color: var(--White-);
    font-family: Texte;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

select{
    border: none;
    background-color: var(--Background3-);
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: Texte;
    color: var(--White-);
    width: 2.8125rem;
    height: 3.125rem;
}
button {
    width: 12.5rem;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.25rem;
    height: 3.125rem;
    cursor: pointer;
    border: none;
    font-family: Texte;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.25rem;
    border-radius: 0.25rem;
    box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.15);
    background: #020024;
    background: linear-gradient(45deg, rgba(2, 0, 36, 0) 5%, var(--HoverButton2-) 6%, rgba(255, 255, 255, 0) 9%, var(--HoverButton2-) 10%, rgba(255, 255, 255, 0) 17%, var(--HoverButton2-) 19%, rgba(255, 255, 255, 0) 21%);
    background-size: 150%;
    background-position: right;
    transition: 1s;
}

button:hover {
    background-position: left;
    color: var(--HoverButton-);
    box-shadow: inset 0px 3px 5px var(--HoverButton-), 0px 0px 10px rgba(0, 0, 0, 0.25);
}

button:focus {
    outline: none;
}
.contain-car-btn{
    display: flex;
    flex-direction: column;
}
.action_btn_reinit{
    margin-left: 45%;
}
