:root {
    --Transparent-: rgba(255, 255, 255, 0);
    --LightShadow-: rgba(0, 0, 0, 0.15);
    --Shadow-: rgba(0, 0, 0, 0.39);
    --DarkShadow-: rgba(0, 0, 0, 0.466);
    --White-: #FFFFFF;
    --Black-: #000000;
    --Grey-: #757575;
    --Background1-: rgb(35, 35, 37);
    --Background2-: #33353d;
    --Background3-: #454750;
    --Background4-: #54565f;
    --Button-: #55565d;
    --HoverButton-: rgb(101, 187, 105);
    --HoverButton2-: rgba(146, 211, 149, 0.411);
    --Hover-: rgb(56, 131, 60);
    --Base-: rgb(28, 78, 26);
    --TextFooter-: #96a2b2;
    --Color1-: #3b5998;
    --Color2-: #00aced;
    --Color3-: #ea4c89;
    --Color4-: #d8d7d7;
    --Red-: rgb(187, 8, 8);
}

@font-face {
    font-family: Title;
    src: url(../font/BlueScreenPersonalUseRegular-0W1M9.ttf);
}
@font-face {
    font-family: Texte;
    src: url(../font/IniyaDisplay-ow0Ra.otf);
}