:root{
    --1-: #ff0000;
    --2-: #ff8000;
    --3-: #ffff00;
    --4-: #80ff00;
    --5-: #00ff00;
    --6-: #00ff80;
    --7-: #00ffff;
    --8-: #0080ff;
    --9-: #0000ff;
    --10-: #8000ff;
    --11-: #ff00ff;
    --12-: #ff0080;
}
